---
layout: base.njk
title: About
---
<section class="about">
  <h1>About Laputa SF</h1>
  <p>Our vision is to create a mature shared living experience for couples, families, and individuals. Inspired by Studio Ghibli's 'Castle in the Sky', we blend whimsical architectural aesthetics with sophisticated urban living, promoting both independence and community.</p>
</section> 